@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.quick-access-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.news-card {
    transition: all 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #ff7d03;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f36304;
}